<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <div id="app">{{{ pageContent }}}</div>
  <script>
    window.{{ initialDataName }} = {{{ initialData }}}
  </script>
  <script src="/public/client.js"></script>
</body>
</html>
