<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <div id="WEB0_APP_CONTAINER">
    {{{ WEB0_PAGE_CONTENT }}}
  </div>
  <script>
    window.WEB0_INITIAL_DATA = {{{ WEB0_INITIAL_DATA }}}
  </script>
  <script src="/public/client.js"></script>
</body>
</html>
